In [ ]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google-play-scraper-1.0.5.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.2 MB/s
Building wheels for collected packages: google-play-scraper
  Building wheel for google-play-scraper (setup.py) ... done
  Created wheel for google-play-scraper: filename=google_play_scraper-1.0.5-py3-none-any.whl size=24484 sha256=897d02b85472e1f24594188eb8eb0feef9394c41a6d4522463341811ea51f9a9
  Stored in directory: /root/.cache/pip/wheels/4a/26/18/48fda51f20c9e550c735fa6f3a6887dc8836f8d709a3cf8a9c
Successfully built google-play-scraper
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.0.5

In [ ]:
from google_play_scraper import app
import pandas as pd
import numpy as np

In [ ]:
from google_play_scraper import Sort, reviews_all

urs_rerview = reviews_all(
    'com.linkdokter.halodoc.android',
    sleep_milliseconds = 0,
    lang= 'id',
    country = 'id',
    sort = Sort.NEWEST,
)

In [ ]:
#Scrape desired number of reviews

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.linkdokter.halodoc.android',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=20000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [ ]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,gp:AOqpTOHAtYAMZInfj7BpeUcyy0S7cCSi4HvnZpGN0-A...,Rahman. abdl76,https://play-lh.googleusercontent.com/a-/AOh14...,Ok bangets,5,0,12.800,2022-05-18 12:23:34,None,NaT
1,gp:AOqpTOEcaivUgBvJ0-L6n-emEeJ2NOlbmvGfbKoOpHa...,Sri Elyta,https://play-lh.googleusercontent.com/a-/AOh14...,Gak ada konfirmasi dan gak bisa masuk,1,0,None,2022-05-18 10:58:11,Hai Sri Elyta! Mohon maaf atas ketidaknyamanan...,2022-05-18 11:52:40
2,gp:AOqpTOHhWq6d48NR8jWV--zbb1U3UMTgsDk8EEJ1yU_...,Arie Poerwady,https://play-lh.googleusercontent.com/a-/AOh14...,Sangat membantu,5,0,12.800,2022-05-18 10:49:51,Hai Arie Poerwady! Terima kasih sudah mengguna...,2022-05-18 11:50:43
3,gp:AOqpTOFxXBwS58KfyXCaCajqSx_70o2wAr9oA6Hup8Z...,Muthia Zahira Rachman,https://play-lh.googleusercontent.com/a-/AOh14...,Keren,4,0,12.800,2022-05-18 08:29:40,Hai Muthia Zahira Rachman! Terima kasih sudah ...,2022-05-18 08:56:23
4,gp:AOqpTOGlgA1ybabgYVYhISSUmUICMsWIHQgEFOT1qzA...,Santi Mutiara Sari,https://play-lh.googleusercontent.com/a-/AOh14...,"Memudahkan konsultasu kesehatan, apalagi ibu2 ...",5,0,12.800,2022-05-18 07:17:46,Hai Santi Mutiara Sari! Terima kasih sudah men...,2022-05-18 08:55:53

In [ ]:
len(df_busu.index) #count the number of data we got

20000

In [ ]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Rahman. abdl76,5,2022-05-18 12:23:34,Ok bangets
1,Sri Elyta,1,2022-05-18 10:58:11,Gak ada konfirmasi dan gak bisa masuk
2,Arie Poerwady,5,2022-05-18 10:49:51,Sangat membantu
3,Muthia Zahira Rachman,4,2022-05-18 08:29:40,Keren
4,Santi Mutiara Sari,5,2022-05-18 07:17:46,"Memudahkan konsultasu kesehatan, apalagi ibu2 ..."

In [ ]:
#Run This Code to Sort the Data By Date 

new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,score,at,content
0,Rahman. abdl76,5,2022-05-18 12:23:34,Ok bangets
1,Sri Elyta,1,2022-05-18 10:58:11,Gak ada konfirmasi dan gak bisa masuk
2,Arie Poerwady,5,2022-05-18 10:49:51,Sangat membantu
3,Muthia Zahira Rachman,4,2022-05-18 08:29:40,Keren
4,Santi Mutiara Sari,5,2022-05-18 07:17:46,"Memudahkan konsultasu kesehatan, apalagi ibu2 ..."

In [ ]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [ ]:
my_df.drop_duplicates(keep=False,inplace=True)
my_df.reset_index(drop=True, inplace=True)
my_df.to_csv("scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.

In [ ]:
data = pd.read_csv('scrapped_data.csv')
data.head()

,userName,score,at,content
0,Rahman. abdl76,5,2022-05-18 12:23:34,Ok bangets
1,Sri Elyta,1,2022-05-18 10:58:11,Gak ada konfirmasi dan gak bisa masuk
2,Arie Poerwady,5,2022-05-18 10:49:51,Sangat membantu
3,Muthia Zahira Rachman,4,2022-05-18 08:29:40,Keren
4,Santi Mutiara Sari,5,2022-05-18 07:17:46,"Memudahkan konsultasu kesehatan, apalagi ibu2 ..."